In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
pd.__version__

'1.4.2'

In [7]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-16.1.0-cp39-cp39-manylinux_2_28_x86_64.whl (40.8 MB)
     |████████████████████████████████| 40.8 MB 78 kB/s  eta 0:00:01
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-16.1.0

In [3]:
df_jan_2022=pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet')

In [5]:
df_jan_2022.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0

In [6]:
df_jan_2022.shape
#prints(rows,columns)

(2463931, 19)

In [6]:
df_jan_2022['duration']=df_jan_2022['tpep_dropoff_datetime']-df_jan_2022['tpep_pickup_datetime']
df_jan_2022['duration']=df_jan_2022['duration'].dt.total_seconds()/60
df_jan_2022['duration'].std()
#standard-deviation

46.44530513776499

In [38]:
display(df_jan_2022['duration'])

0          17.816667
1           8.400000
2           8.966667
3          10.033333
4          37.533333
             ...
2463926     5.966667
2463927    10.650000
2463928    11.000000
2463929    12.050000
2463930    27.000000
Name: duration, Length: 2463931, dtype: float64

In [47]:
filtered_values = np.where((df_jan_2022['duration']>=1.0) & (df_jan_2022['duration']< 60.0))
display((df_jan_2022.loc[filtered_values].shape[0]/df_jan_2022.shape[0])*100)
#fraction of the records left after you dropped the outliers

98.2721512899509